TYPEORM_CONNECTION=postgres
TYPEORM_HOST=172.17.0.1
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=Aa123456
TYPEORM_DATABASE=postgres
TYPEORM_SCHEMA=public
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_ENTITIES=dist/src/models/**/*.js
TYPEORM_MIGRATIONS=dist/migrations/**/*.js
TYPEORM_ENTITIES_DIR=dist/src/models
TYPEORM_MIGRATIONS_DIR=migrations